@using MvcProject.Controllers
@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div style="margin-top:100px;">
    @using (Html.BeginForm("BrowseResume", "Action", FormMethod.Post))
    {
        <table align="center">
            <tr>
                <td>
                    Select Roll No
                </td>
                <td>
                    @Html.DropDownList("test1", new SelectList(ViewBag.data, "roll_no", "roll_no"))
                </td>
            </tr>
            <tr colspan="2">
                <td align="center">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Get Data" />
                </td>
            </tr>


        </table>
    }



</div>


